.btn-clas {
  display: block;
  margin: 0 0 15px;
  padding: 15px;
  width: 98%;
  max-width: 500px;
  margin: auto;
  background: white;
  border-radius: 7px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3), 0 10px 5px 0 rgba(0, 0, 0, 0.24);

  top: 50px;
}
