.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.form-group {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
/*Registro */
h2 {
  background: forestgreen;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  border-top-left-radius: 7px;
  border-bottom: 5px solid black;
}
.form-group2 {
  margin: 0 0 15px;
  padding: 15px;
  width: 98%;
  max-width: 500px;
  margin: auto;
  background: white;
  border-radius: 7px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.contenedor-inputs {
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
input {
  margin-bottom: 15px;
  padding: 15px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid darkgray;
}
.cont-49 {
  width: 100%;
}

.cont-100 {
  width: 100%;
}
.btn-enviar {
  font: center;
  width: 100%;
  background: forestgreen;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
.btn-enviar:active {
  transform: scale(1.05);
}
.form-link {
  width: 100%;
  margin: 7px;
  text-align: center;
  font-size: 14px;
}
